<h1>New Seat</h1>

<%= form_for(seat, remote: true) do |f| %>
  <%= f.hidden_field :flight_id %>
  <p>
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :baggage %><br />
    <%= f.text_field :baggage %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
